:root{
    --primary-color: #29e932d5;
    --text-color: white;
    --secondary-color: #8fff85cc;
    --third-color: #048f0bd5;
    --text-color:white;

}

body{
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);

}
* {
    
    font-family: 'Poppins', sans-serif;
}
nav{
    background-color: var(--primary-color);
    padding: 7px 0;
}
ul li{
    list-style: none;
    display: inline;
    padding: 23px;
    font-weight: bolder;
    
}
.parent{
    
    display: flex;
    gap: 355px;
    
}
.box{
    height: 250px;
    padding: 25px;
    
    background-color: var(--third-color);
    margin: 90px;

}

ul li a{
    color: var(--text-color);
    text-decoration: none;
}